*{
    font-family: sans-serif;
}

.calendar, th, td{
    border:2px groove rgb(0, 0, 93);
    border-collapse: collapse;
    text-align: center;
    width: 60px;
    height: 40px;
}

th {
    background-color:rgb(76, 0, 0);
    color: white;
}